.nav-back-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .back-arrow {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }